@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    height: 10vw;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    top: 0%;
    left: 100%;
  }
}