/* CSS files add styling rules to your content */

/*General*/
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

a {
  color:rgb(37, 9, 217);
  text-decoration:none;
}

/*Primera pagina*/
.logo{
  width:70%;
}

.imagen-logo{
  text-align:center;
  margin:0px;
}

.encabezado{
  display:inline-block;
  width:100%;
  position: relative;
  
}

.encabezado h2 {
  text-align:center;
  color:lightblue;
  margin: 5px;
  /*background-color:black;*/
}

.cuerpo {
  background-color:#f7f4f4;
  padding:5px 20px;
}
.cuerpo li{
  margin:5px 0;
}

.pie{
  background-color:rgba(254, 226, 115,.3);
  padding: 10px
}

.pie a{
  margin:10px;
}

#busqueda{
  margin: 10px 0px;
  width:100%;
}

/*Opciones de canto*/
/*.header {
  margin:0px;
  padding:0px;
}*/

.contenido hr{
  margin:5px -25px;
}

.encabezado-lista{
  text-align:center;
  position:relative;
  background-color:rgba(158, 216, 254,.3);
  padding: .1em 0;
  margin:-20px -25px 0px -25px;
}
.encabezado-lista h2{
  color:blue;
  padding:0px;
  margin:5px;
}

.encabezado-lista h3{
  /*color: rgba(128, 129, 132, .9);*/
  color: rgb(208, 182, 52);
  padding:0px;
  margin:5px;
  font-size:15px;
}

/*.encabezado-lista button{
  position:absolute;
  left: 92%;
  top: 70%;
}*/

.cuerpo-lista{
  background-color:rgba(230, 230, 230,.5);
  padding: 0px 0;
}

.cuerpo-lista ul{
  padding: 0px;
}

.boton-add{
  position: absolute;
  right: 35px;
  font-weight:bold;
  font-size: 13px;
}

.boton-delete{
  position: absolute;
  right: 35px;
  font-weight:bold;
  font-size: 13px;
  background-color:tomato;
  color: white;
}

.claseEditar{
  padding:20px;
  background-color:lightyellow;
  /*column-count:1;*/
  text-align:center;
}

.botonUp{
  padding:8px;
  font-weight:bold;
  background-color:rgba(196, 250, 254,.5);
}

.botonDown{
  padding:8px;
  margin:20px 0 0 0;
  font-weight:bold;
  background-color:rgba(254, 1, 1, .1);
}

.lista{
  list-style-position: inside;
  list-style-type: none;
  border: 1px solid gray;
  padding:10px;
}

/*
#playlistDomingo{
  padding-left:0em;
  border-top:1px solid;
}

#playlistDomingo li{
  list-style-position: inside;
  border-right-style:none;
  border-bottom:1px solid;
  padding:10px 0px 10px 10px;
}*/


.playlistCantos{
  padding-left:0em;
  border-top:1px solid;
}

.playlistCantos li{
  list-style-position: inside;
  border-right-style:none;
  border-bottom:1px solid;
  padding:10px 0px 10px 10px;
}

.NoHayCantos{
  text-align:center;
  padding:20px 0 10px 0;
  font-size:30px;
}

.anuncio{
  text-align:center;
  margin: 20px;
  background-color:rgb(153, 247, 166);
  padding: 5px;
}

.anuncioM{
  text-align:center;
  margin: 20px;
  background-color:rgb(247, 225, 153);
  padding: 5px;
}

.nav{
  /*column-count:2;
  column-gap:0px;*/
  margin:20px 0px;
}


.divEditar{
  text-align:center;
}

.EditarLista{
  background-color:lightyellow;
  padding:5px;
}

.selected{
  background-color: lightgreen;
  color:black;
  font-weight:bold;
  border-width: 2px;
  border-style: solid;
  border-color: green;
}

.noselected{
 
}

.divOk{
  text-align:center;
}

.botonOK{
  background-color:lightgreen;
  padding:5px;
}

.divBorarLista{
  text-align:right;
}

.borrarLista{
  background-color:rgba(254, 126, 126,.4);
  padding:5px;
}

.RegresarPagina{
  position: absolute;
  bottom:0px;
  left:5px;
  padding:5px;
  font-size:15px;
  opacity:1;
}

.arrowRegresar i{
  position: absolute;
  bottom:0px;
  left:5px;
  padding:5px;
  font-size:30px;
  opacity:0.7;
}

.arrowAvanzar{
  position: absolute;
  bottom:0px;
  right:5px;
  padding:5px;
  font-size:30px;
  opacity:1;
  display:none;
}

.botonTransportar{
  padding:5px;
}

.botonAudio{
  padding:5px;
}



/*Canto*/
.infoCanto {/*
  display:inline-block;*/
  /*position:relative;*/
  font-size:13px;
  font-weight:bold;
  margin:1px -25px 10px -25px;
  padding:5px;
  background-color:rgba(239, 238, 238,.5);
  /*overflow:hidden;*/
  column-count: 3;
  
}

.img-tempo{
  margin:0px;
  padding:0px;
  height:18px;
}

.tempo{
  /*text-align:left;
  /*background-color:lightblue;*/
  /*float:left;*/
  font-weight:bold;
}

.nombre{
  text-decoration: underline;
  /*left:15%;*/
  /*background-color:lightblue;*/
  /*display:inline-block;*/
  text-align: center;
  font-weight:bold;
  padding:4px 0;
}
.tono{
  /*display:inline-block;*/
  /*float:right;
  /*background-color:lightblue;*/
  text-align:right;
  font-weight:bold;
  padding:4px 0;
}

.letra_body{
  font-size:12px;
}

.canto_body{
  margin:1px -23px;
  font-size:11.5px;
  column-count:2;
  column-gap:20px;
  column-rule-style: solid;
  word-spacing: -2px;
}

.canto_body a{
  font-weight:bold;
}

.canto_body div div pre{
  margin:5px 0 -2px 0;
}

.tituloCanto{
  background-color:Black;
  color:white;
  margin:0px 0px -10px 0px;
  padding:2px;
  font-weight:bold;
  font-family:Arial, "Benton Sans", "Helvetica Neue", helvetica;
}

.divAudio{
  text-align:center;
}

.botonBorrarAudio{
  font-weight:bold;
  font-size:20px;
  background-color:tomato;
}

.slur{
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin:-1% 0;
}

.navCanto{
  background-color:lightgray;
  padding:15px;
  margin:0px -30px 0px -30px;
}

#dialogvarley{
  display:none;
  opacity:.8;
  position:fixed;
  top: 0px;
  left: 0px;
  background: #333;
  width:100%;
  z-index:10;
}

#dialogbox{
  display:none;
  position:fixed;
  /*top:0px;
  left:0px;*/
  background: #333;
  border-radius: 7px;
  /*margin:10%;*/
  width: 70%;
  z-index: 10;
}

#Domingo{
  background-color:rgba(68, 251, 104,.4);
  padding:5px 5px;
  font-weight:bold;
}

#Miercoles{
  background-color:rgba(247, 225, 153,.4);
  padding:5px 5px;
  font-weight:bold;
}

#Cancelar{
  background-color:rgba(251, 52, 52,.4);
  padding:5px 10px;
}

#dialogbox > div {background:#FFF; margin: 4px;}
#dialogbox > div > #dialogboxhead {background:rgba(158, 216, 254,.3); font-size:19px; padding:10px;}
/*#dialogbox > div > #dialogboxbody {background:#333; padding:20px; color:#FFF;}*/
#dialogbox > div > #dialogboxfoot {background:rgba(230, 230, 230,.5); padding:10px 5px; text-align:right;}