/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.tituloCanto{
  background-color:Black;
  color:white;
  margin:0px;
  padding:2px;
  font-weight:bold;
  width:50%;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial
}

.encabezadoCanto
{
  margin:0px;
  padding:0px;
}

.logo
{
  width:160px;
  position: absolute;
  margin:70px 0px;;
}

.encabezado
{
  display:inline-block;
  width:550px;
  position: relative;
  
}

.encabezado h1 {
  font-style: italic;
  font-size:50px;
  /*background-color:black;*/
  color: #373fff;
  margin: 0px;
  text-align:center;
}

.encabezado h2 {
  text-align:center;
  color:lightblue;
  /*background-color:black;*/
}

.t_body{
  font-size:8px;
  margin:0;
}

a {
  color:blue;
  
}