/* CSS files add styling rules to your content */

/*General*/
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

a {
  color:blue;
  text-decoration:none;
}

/*Primera pagina*/
.logo{
  width:70%;
}

.imagen-logo{
  text-align:center;
  margin:0px;
}

.encabezado{
  display:inline-block;
  width:100%;
  position: relative;
  
}

.encabezado h2 {
  text-align:center;
  color:lightblue;
  margin: 5px;
  /*background-color:black;*/
}

.cuerpo {
  background-color:#f7f4f4;
  padding:5px 20px;
}
.cuerpo li{
  margin:5px 0;
}

.pie{
  background-color:rgba(254, 226, 115,.3);
  padding: 10px
}

.pie a{
  margin:10px;
}

/*Opciones de canto*/
.encabezado-lista{
  background-color:rgba(158, 216, 254,.3);
  text-align:center;
  position:relative;
}
.encabezado-lista h2{
  color:blue;
}

.encabezado-lista h3{
  /*color: rgba(128, 129, 132, .9);*/
  color: rgb(208, 182, 52);
}

.encabezado-lista button{
  position:absolute;
  left: 92%;
  top: 70%;
}

.cuerpo-lista{
  background-color:rgba(230, 230, 230,.5);
}

/*Canto*/
.t_body{
  font-size:12px;
}

.tituloCanto{
  background-color:Black;
  color:white;
  margin:0px;
  padding:2px;
  font-weight:bold;
  width:100%;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial
}

