/* CSS files add styling rules to your content */
@font-face{
  src:url(https://cdn.glitch.com/4c1a86ab-31d9-449a-9f16-4378baabdc2c%2Ftypemymusic.notation.ttf?v=1581114781979);
  /*src:url(https://cdn.glitch.com/4c1a86ab-31d9-449a-9f16-4378baabdc2c%2FMetdemo-BLMG.ttf?v=1581119000020);*/
  font-family: notas;
}

.fontNotas{
  font-weight: 1000;
  letter-spacing: -1px;
  font-family:  arial, serif;
  color:rgb(173, 0, 0);
  line-height: 0.2;
  text-shadow: 1px 1px 6px red;
  /*font-family: notas;
  font-size: 150%;
  border: solid;
  padding: -50px;*/
}

.fontNotas2{
  font-weight: 1000;
  letter-spacing: -1px;
  /*font-family:  arial, serif;*/
  color:rgb(173, 0, 0);
  font-family: notas;
  /*font-size: 150%;
  border: solid;
  padding: -50px;*/
}

/*General*/
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

a {
  color: rgb(37, 9, 217);
  text-decoration: none;
}

/*Primera pagina*/
.logo {
  width: 70%;
}

.imagen-logo {
  text-align: center;
  margin: 0px;
}

.encabezado {
  display: inline-block;
  width: 100%;
  position: relative;
}

.encabezado h2 {
  text-align: center;
  color: lightblue;
  margin: 5px;
  /*background-color:black;*/
}

.cuerpo {
  background-color: #f7f4f4;
  padding: 5px 20px;
}
.cuerpo li {
  margin: 6px -10px;
}

.pie {
  background-color: rgba(254, 226, 115, 0.3);
  padding: 10px;
}

.pie a {
  margin: 10px;
}

#busqueda {
  margin: 10px 0px;
  width: 100%;
}

.contenido hr {
  margin: 5px -25px;
}

.encabezado-lista {
  text-align: center;
  position: relative;
  background-color: rgba(158, 216, 254, 0.3);
  padding: 0em 0;
  margin: -20px -25px -3px -25px;
}
.encabezado-lista h2 {
  color: blue;
  padding: 0px;
  margin: 5px;
}

.encabezado-lista h3 {
  /*color: rgba(128, 129, 132, .9);*/
  color: rgb(208, 182, 52);
  padding: 0px;
  margin: 5px;
  font-size: 15px;
}

.cuerpo-lista {
  background-color: rgba(230, 230, 230, 0.5);
  padding: 0px 0;
}

.cuerpo-lista ul {
  padding: 0px;
}

.boton-add {
  position: absolute;
  right: 35px;
  font-weight: bold;
  font-size: 13px;
}

.boton-delete {
  position: absolute;
  right: 35px;
  font-weight: bold;
  font-size: 13px;
  background-color: tomato;
  color: white;
}

.claseEditar {
  padding: 20px;
  background-color: lightyellow;
  /*column-count:1;*/
  text-align: center;
}

.botonUp {
  padding: 8px;
  font-weight: bold;
  background-color: rgba(196, 250, 254, 0.5);
}

.botonDown {
  padding: 8px;
  margin: 20px 0 0 0;
  font-weight: bold;
  background-color: rgba(254, 1, 1, 0.1);
}

.lista {
  list-style-position: inside;
  list-style-type: none;
  border: 1px solid gray;
  padding: 10px;
}

/*
#playlistDomingo{
  padding-left:0em;
  border-top:1px solid;
}

#playlistDomingo li{
  list-style-position: inside;
  border-right-style:none;
  border-bottom:1px solid;
  padding:10px 0px 10px 10px;
}*/

.playlistCantos {
  padding-left: 0em;
  border-top: 1px solid;
}

.playlistCantos li {
  list-style-position: inside;
  border-right-style: none;
  border-bottom: 1px solid;
  padding: 10px 0px 10px 10px;
}

.NoHayCantos {
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: 30px;
}

.anuncio {
  text-align: center;
  margin: 20px;
  /*background-color:rgb(153, 247, 166);*/
  padding: 5px;
}

/*.anuncioM{
  text-align:center;
  margin: 20px;
  background-color:rgb(247, 225, 153);
  padding: 5px;
}*/

.nav {
  /*column-count:2;
  column-gap:0px;*/
  margin: 20px 0px;
}

.divEditar {
  text-align: center;
}

.EditarLista {
  background-color: lightyellow;
  padding: 5px;
}

.selected {
  background-color: lightgreen;
  color: black;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: green;
}

.noselected {
}

.divOk {
  text-align: center;
}

.botonOK {
  background-color: lightgreen;
  padding: 5px;
}

.divBorarLista {
  text-align: right;
}

.borrarLista {
  background-color: rgba(254, 126, 126, 0.4);
  padding: 5px;
}

.RegresarPagina {
  position: absolute;
  bottom: 0px;
  left: 5px;
  padding: 5px;
  font-size: 15px;
  opacity: 1;
}

.arrowRegresar i {
  position: absolute;
  bottom: 0px;
  left: 5px;
  padding: 5px;
  font-size: 30px;
  opacity: 0.7;
}

.arrowAvanzar {
  position: absolute;
  bottom: 0px;
  right: 5px;
  padding: 5px;
  font-size: 30px;
  opacity: 1;
  display: none;
}

.arrowRegresar2 {
  position: absolute;
  padding: 5px;
  font-size: 30px;
  opacity: 0.7;
  top: 0px;
  left: 0;
  display: none;
  /*border: 3px solid #73AD21;*/
}

.arrowAvanzar2 {
  padding: 5px;
  font-size: 30px;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  right: 0;
  display: none;
  /*border: 3px solid #73AD21;*/
}

.flechasRegresarAvanzar {
  margin: 0px -25px -25px -25px;
  position: relative;
  /*border: 3px solid #73AD21;*/
  height: 50px;
}

/*Botones para configuracion de canto */
.botonTransportar {
  padding: 5px;
  margin: 0px 5px;
}

.botonTransportarMenos, .botonTransportarMas, .botonEnsayar{
  padding: 5px;
  margin: 0px 5px;
}

.botonAudio {
  padding: 5px;
  margin: 0px 5px;
}

.botonTextoChico, .botonTextoGrande {
  padding: 5px;
  margin: 0px 5px;
}

.botonCasa {
  padding: 5px;
  margin: 0px 5px;
}

.botonRotar {
  padding: 5px;
  margin: 0px 5px;
}

/*Canto*/
.infoCanto {
  /*
  display:inline-block;*/
  /*position:relative;*/
  font-size: 13px;
  font-weight: bold;
  margin: -4px -25px 10px -25px;
  padding: 2px;
  background-color: rgba(239, 238, 238, 0.5);
  /*overflow:hidden;*/
  column-count: 3;
  border-bottom: 1px solid black;
}

.img-tempo {
  margin: 0px;
  padding: 0px;
  height: 18px;
}

.tempo {
  /*text-align:left;
  /*background-color:lightblue;*/
  /*float:left;*/
  font-weight: bold;
}

.nombre {
  text-decoration: underline;
  /*left:15%;*/
  /*background-color:lightblue;*/
  /*display:inline-block;*/
  text-align: center;
  font-weight: bold;
  padding: 4px 0;
}
.tono {
  /*display:inline-block;*/
  /*float:right;
  /*background-color:lightblue;*/
  text-align: right;
  font-weight: bold;
  padding: 4px 0;
}

.letra_body {
  font-size: 89%;
  margin: -8px -23px;
}

.canto_body {
  margin: -8px -23px;
  font-size: 89%;
  /*font-size:11.5px;*/
  /*line-height: 150%;*/
  column-count: 2;
  column-gap: 20px;
  column-rule-style: solid;
  /*word-spacing: -2px;*/
  /*background-color:red;*/
}

.canto_body a {
  font-weight: bold;
}

.canto_body pre {
  margin: 0px;
  /*background-color:lightblue;*/
}

.tituloCanto {
  background-color: Black;
  color: white;
  margin: 0px 0px -13px 0px;
  padding: 2px;
  font-weight: bold;
  font-family: Arial, "Benton Sans", "Helvetica Neue", helvetica;
}

.tituloVerso {
  background-color: blue;
  color: white;
  margin: 0px 0px -13px 0px;
  padding: 2px;
  font-weight: bold;
  font-family: Arial, "Benton Sans", "Helvetica Neue", helvetica;
}

.tituloPreCoro {
  background-color: rgba(255, 58, 222, 0.7);
  color: white;
  margin: 0px 0px -13px 0px;
  padding: 2px;
  font-weight: bold;
  font-family: Arial, "Benton Sans", "Helvetica Neue", helvetica;
}

.tituloCoro {
  /*background-color: rgb(226, 43, 43);*/
  background-color: rgb(160, 91, 224);
  color: white;
  margin: 0px 0px -13px 0px;
  padding: 2px;
  font-weight: bold;
  font-family: Arial, "Benton Sans", "Helvetica Neue", helvetica;
}

.tituloPuente {
  background-color: rgba(23, 155, 6, 0.726);
  color: white;
  margin: 0px 0px -13px 0px;
  padding: 2px;
  font-weight: bold;
  font-family: Arial, "Benton Sans", "Helvetica Neue", helvetica;
}

.tituloFinal {
  background-color: rgb(80, 80, 80);
  color: white;
  margin: 0px 0px -13px 0px;
  padding: 2px;
  font-weight: bold;
  font-family: Arial, "Benton Sans", "Helvetica Neue", helvetica;
}

.divAudio {
  text-align: center;
}

.botonBorrarAudio {
  font-weight: bold;
  font-size: 20px;
  background-color: tomato;
}

.slur {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin: -1% 0;
}

.navCanto {
  background-color: lightgray;
  padding: 10px;
  margin: 0px -30px 0px -30px;
  text-align: center;
}

.contenido {
  margin: 20px 30px 0px 30px;
}

#dialogvarley {
  display: none;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #333;
  width: 100%;
  z-index: 10;
}

#dialogbox {
  display: none;
  position: fixed;
  /*top:0px;
  left:0px;*/
  background: #333;
  border-radius: 7px;
  /*margin:10%;*/
  width: 70%;
  z-index: 10;
}

#Domingo {
  background-color: rgba(68, 251, 104, 0.4);
  padding: 5px 5px;
  font-weight: bold;
}

#Miercoles {
  background-color: rgba(247, 225, 153, 0.4);
  padding: 5px 5px;
  font-weight: bold;
}

#Cancelar {
  background-color: rgba(251, 52, 52, 0.4);
  padding: 5px 10px;
}

#dialogbox > div {
  background: #FFF;
  margin: 4px;
}
#dialogbox > div > #dialogboxhead {
  background: rgba(158, 216, 254, 0.3);
  font-size: 19px;
  padding: 10px;
}
/*#dialogbox > div > #dialogboxbody {background:#333; padding:20px; color:#FFF;}*/
#dialogbox > div > #dialogboxfoot {
  background: rgba(230, 230, 230, 0.5);
  padding: 10px 5px;
  text-align: right;
}

/*---------------------------------Transportar acorde-----------------------------------*/
span.c {
  font-weight: bolder;
  color: #2159D6;
  padding: 0px 0px -40px 0px;
}
span.o {
  font-weight: bolder;
  /*color: #2159D6;*/
}

.transpose-keys {
  margin: 10px 0;
  padding: 3px;
  overflow: auto;
  font: normal 11px sans-serif;
  /*background-color:lightblue;*/
  display: none;
  text-align: center;
}
.transpose-keys a {
  display: inline-block;
  /*float: left;*/
  width: 2.25em;
  text-align: center;
  margin: 0 0.25em 0.25em 0.25em;
  color: #333;
  background: #eee;
  text-decoration: none;
  padding: 0.4em 0;
  border: solid 1px;
  outline: none;
}
.transpose-keys a.selected {
  background: #2159D6;
  color: #FFF;
}
.transpose-keys a.original {
  background: rgb(214, 33, 63, 0.3);
  color: rgb(12, 0, 0);
}
.transpose-keys a.original.selected {
  background: rgb(214, 33, 63);
  color: #FFF;
}


/*-----------------PAGINA CONFIG----------------------*/
.opcionesConfig{
  margin: 4px 0px;
  padding:5px 0;
  width: 100%;
  height: 50px;
  position: relative;
}

.textoConfig{
  position: absolute;
  left: 8px;
}

.botonConfig{
  position: absolute;
  right: 8px;
  bottom: 13px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin-right: auto;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}